:root {
    --background-color: #0f1f2a;
    --background-color-rev: #f5f5f5;
    --nav-background: #ffffff09;
    --text-color: whitesmoke;
    --text-color-opac: #f5f5f5a0;
    --footer-text: #f5f5f580;
    --color-theme: #ff5017;
    --green: #00e444;
}