*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import './root';
html {
    font-size: 62.5%;
}
body {
    font-family: 'system-ui';
    background: var(--background-color);
    color: var(--text-color);
}

@import './const';
@import './nav';
@import './main';
@import './mainBtns';
@import './aboutSocialMedia';
@import './settings';
@import './footer';